{% extends "layout.html" %}

{% block head %}

{% endblock head %}

{% block content %}
<div class="login-form">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-main">
            <div class="join-today">
                <legend>Join Today</legend>
            </div>

            <div class="form-item">
                {{ form.username.label(class="form-label") }}

                {% if form.username.errors %}
                {{ form.username(class="form-input is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-input", placeholder="Enter your username", autocomplete="off") }}
                {% endif %}
            </div>
            <div class="form-item">
                {{ form.email.label(class="form-label") }}

                {% if form.email.errors %}
                {{ form.email(class="form-input is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-input", placeholder="Enter your Email", autocomplete="off") }}
                {% endif %}
            </div>
            <div class="form-item">
                {{ form.password.label(class="form-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-input is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-input", placeholder="Enter your Password", autocomplete="off") }}
                {% endif %}
            </div>
            <div class="form-item">
                {{ form.confirm_password.label(class="form-label") }}
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-input is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-input", placeholder="Confirm your Password", autocomplete="off") }}
                {% endif %}
            </div>

            <div class="submit-button">
                {{ form.submit(class="btn sign-up-button") }}
            </div>
            <div class="account-small">
                <small class="text-muted">
                    Already Have An Account? <a class="small-sign-in" href="{{ url_for('users.login') }}">Sign In</a>
                </small>
            </div>
        </fieldset>
    </form>
</div>

{% endblock content %}